*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif;

}

body{
    background-color: blanchedalmond;
    padding-top: 60px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 48px;
    margin-right: 8px;

}    

header h1{
    font-size: 36px;
    font-weight: bold;
}

.containder{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;

}

form{
    display: flex;
    max-width: 1080px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 70px;
}

form input{
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: #000;
    padding: 8px;

}

.Adicionar{
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;

}

.Apagar{
    background-color: #ca210b;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;

}

table{
    width: 100%;
    text-align: center;
    font-size: 18px;

}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;

}

table td{
    padding: 18px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
}